$bdayFont:72px arial ;
$monthFont:30px arial ;

.appContainer
{
    width:380px;
    margin:10px;
}


.bdayIcons
{
    text-align: center;
     vertical-align: middle;
    font:$bdayFont;
       display: inline-block;
       margin-left:10px;
       margin-bottom:10px;
       //margin-top:10px;
       color:#fff;
    // border:1px solid #CFD9FB;
    // border-collapse: collapse;
   //border-left:5px solid #CFD9FB;
}

.largeEntry
{
    width:360px;
    height:360px;
   @extend .bdayIcons;
    line-height: 360px;

}

.medEntry
{
    width:175px;
    height:175px;
    line-height: 175px;
    @extend .bdayIcons;

}

.smallEntry
{
    width:113px;
    height:113px;
   @extend .bdayIcons;

}
.heading
{
    margin-left:10px;
    margin-bottom: 0;
}
.monthContainer
{ 
    width:inherit;
    height:50px;
    font:$monthFont;
    text-align: left;
     vertical-align: middle;
     line-height: 50px;
     margin-left: 10px;
        color:#fff;
     
      
}
.monthDetails
{
    background-color: #FF6666;
    margin-bottom:10px;
}

.collapseIcons
{
    float:right;
    margin:8px;
    font: $monthFont;
}

.monthBg{
    background-color: #CFD9FB;
    padding-top:10px;
}